<header>
  

<hello 

name="{{ name }}">

</hello>

</header>
<p>
Field Device:Compressor 626 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Uptime: 24hrs &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pending Alarms: 7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SDD:*GB/3GB Free<BR> Certificate: AB&18-56 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Resets: 10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Notifications: 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Signal Strength:
</p>

<div class="button-group">
<button>Devices</button>
<button>Database</button>
<button>Network</button>
<button>Cloud</button>
<button>Apps</button>

</div>

